services:
  db:
    image: postgres:18.2-alpine
    container_name: postgres
    restart: unless-stopped
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - db_net

  ollama:
    image: ollama/ollama:0.16.3-rc0 # can't pull other version
    container_name: ollama
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - llm_net
    entrypoint: /bin/sh
    command: -c "ollama serve & sleep 5 && ollama pull qwen3:0.6b && wait"

  server:
    container_name: server
    build:
      context: .
      dockerfile: Dockerfile
      target: backend
      args:
        - GRADLE_TASK=:app:web:composeCompatibilityBrowserDistribution
        - DIST_PATH=app/web/build/dist/composeWebCompatibility/productionExecutable/
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./.env
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
    networks:
      - db_net
      - llm_net

  webapp:
    container_name: webapp
    build:
      context: .
      dockerfile: Dockerfile
      target: frontend
      args:
        - GRADLE_TASK=:app:web:composeCompatibilityBrowserDistribution
        - DIST_PATH=app/web/build/dist/composeWebCompatibility/productionExecutable/
    restart: unless-stopped
    ports:
      - ${FRONT_PORT}:${FRONT_PORT}
    depends_on:
      - server


volumes:
  postgres_data:
  ollama_data:

networks:
  db_net:
    driver: bridge
  llm_net:
    driver: bridge